// Fonts
$font-light: 200;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

$h1: 2.6rem;
$h2: 2.2rem;
$h3: 1.8rem;
$h4: 1.6rem;
$h5: 1.4rem;
$h6: 1.2rem;

$font-button: 1.2rem;

$font-copy-large: 0.9rem;
$font-copy-medium: 0.75rem;
$font-copy-small: 0.65rem;
