@import url('https://use.typekit.net/wjs5cfa.css');

// Colours
$primary: #000;
$primary-text: #fff;
$secondary: #fff;
$secondary-text: #000;
$tertiary: #e9ecef;
$tertiary-text: #000;
$accent: #eb821c;
$accent-text: #fff;
$dark-grey: #9733ee;

$white: #fff;
$black: #000;

$primary-button: #fff;
$primary-button-hover: #000;

$secondary-button: #000;
$secondary-button-hover: #fff;

$tertiary-button: #000;
$tertiary-button-hover: #444;

$accent-button: #eb821c;
$accent-button-hover: #fff;

// Widths
// Change both container margin width and margin width calc to keep carousel within container width
$container-margin-width: 13.5%;
$container-margin-width-calc: 13.5;
$image-carousel-vw: calc(100 - (2 * $container-margin-width-calc)) + vw;

$full-width-padding: 20px;
