@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;400;900&display=swap');

// Colours
$primary: #fff;
$secondary: #fff;
$text-colour: #000;
$secondary-text-colour: #000;
$white: #fff;
$black: #000;

$light-green: #dfebc0;
$dark-green: #485861;

$light-blue: #7ed2f3;
$dark-blue: #192c50;

$light-orange: #f7c273;
$dark-orange: #8d5700;

$light-pink: #f7c3f7;
$dark-pink: #301533;

// Fonts
$font-light: 200;
$font-medium: 400;
$font-bold: 900;

$font-headline-large: 3.8rem;
$font-headline-medium: 2.1rem;
$font-headline-small: 1.3rem;
$font-button: 1.2rem;

$font-copy-large: 1.1rem;
$font-copy-medium: 0.9rem;
$font-copy-small: 0.7rem;

// Nav
$nav-padding-width: 60px;
