@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;400;900&display=swap');

// Colours
$primary: #fff;
$secondary: #fff;
$text-colour: #485861;
$secondary-text-colour: #485861;
$white: #fff;
$black: #000;

// Fonts
$font-light: 200;
$font-medium: 400;
$font-bold: 700;

$font-headline-large: 3.8rem;
$font-headline-small: 1.3rem;

$font-copy-large: 1.1rem;
$font-copy-medium: 0.9rem;
$font-copy-small: 0.7rem;

// Nav
$nav-padding-width: 60px;
